---
layout: base
---
{% for post in collections.post | reverse %}
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <div class="metadata">
        <span>Published on <em><time datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time></em></span>
        <span>About <em>{{ post | readingTime({ speed: 200 }) }}</em> reading time</span>
    </div>
    <div class="metadata">
        {% if post.data.topics %}
            Topics:
        {% endif %}
        {% for topic in post.data.topics %}
            <em>#{{ topic }}</em>
        {% endfor %}
    </div>
    <p>{% excerpt post %}</p>
    <hr class="separator">
{% endfor %}
