@media (prefers-color-scheme: dark) {
:root {
    --darkest: #151b24;
    --darker: #222831;
    --functional: #3282b8;
    --functional-highlight: #7fcfff;
    --text-color: #ececec;
    --link-color: #FF8000;
    --separator: #2F353E;
    --opaque: #707681;
}
}

@media (prefers-color-scheme: light) {
:root {
    --darkest: #dfdfdf;
    --darker: #ececec;
    --functional: #3282b8;
    --functional-highlight: #00366C;
    --text-color: #222831;
    --link-color: #FF8000;
    --separator: #f4f4f4;
    --opaque: #707681;
}
}

html,
body {
    color: var(--text-color);
    background-color: var(--darker);
    font-family: 'Quicksand', sans-serif;
    font-size: 115%;
    letter-spacing: 0.07rem;
    line-height: 1.7;
    scroll-behavior: smooth;
}

#content {
    position: relative;
    margin: 0 auto;
    max-width: 850px;
    padding: 12px;
}

#content > header, #content > header p, #content > footer p {
    text-align: center;
}

h1 {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.3;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.3;
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.7rem;
    font-weight: normal;
    line-height: 1.3;
}

p {
    margin-bottom: 1.75rem;
}

@media only screen and (min-width: 850px) {
p, li {
    hyphens: auto;
}
}

a:link {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

a.title {
    color: var(--text-color);
}

figure {
    width: 100%;
    display: table;
    margin: 64px auto;
}

figcaption > p {
    font-size: 80%;
    text-align: center;
    hyphens: none;
}

blockquote {
    margin: 0;
    padding: 2px 24px;
    border-left: 5px solid var(--functional);
}

blockquote > p {
    font-style: italic;
    opacity: 0.75;
}

blockquote > p > em {
    font-style: normal;
}

ul, ol {
    padding-left: 2.25rem;
}

li {
    margin-bottom: 16px;
    padding-left: 0.75rem;
}

p > code, a > code, li > code {
    background-color: var(--darkest);
    padding: 2px 5px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

aside.warning > p > code {
    background-color: var(--darker);
}

hr {
    width: 95%;
    height: 1px;
    background-color: var(--separator);
    border: 0;
    border-bottom: solid 1px var(--darkest);
    margin: 64px auto;
}

hr.separator:last-of-type {
    display: none;
}

img {
    max-width: 100%;
    display: block;
    position: relative;
    margin: auto;
}

::selection {
    background: var(--link-color);
}

::-moz-selection {
    background: var(--link-color);
}

a::selection {
    color: var(--text-color);
}

a::-moz-selection {
    color: var(--text-color);
}

.subtitle {
    font-size: 1rem;
}

footer p {
    font-size: 1rem;
    margin-top: 128px;
}

.metadata {
    color: var(--opaque);
    font-size: 80%;
    font-style: italic;
}

.metadata em {
    color: var(--text-color);
    font-style: normal;
}

.metadata > *:not(:last-child)::after {
    content: " • "
}

footer > .links {
    text-align: center;
    margin-bottom: 32px;
}

footer > .links a {
    color: var(--text-color);
    font-size: 1.8rem;
    margin: 4px;
}

aside {
    position: relative;
}

aside.note {
    margin: 32px auto;
    width: 90%;
    border: solid 1px var(--functional);
    border-radius: 5px;
    padding: 0 24px;
}

aside.note h3 {
    color: var(--functional);
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.7rem;
    font-weight: normal;
    line-height: 1.3;
}

aside.warning {
    margin: 16px auto;
    padding: 24px 12px 24px 4.5em;
    background-color: var(--darkest);
}

aside.warning p {
    margin: 0 !important;
}

aside.warning::before {
    content: "\f06a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    width: 1.8em;
    height: 2.5em;
    font-size: 2.5em;
    line-height: 2.5em;
    text-align: center;
}

details.toc > summary {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.3;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    margin-left: -0.9em;
}

#progress {
    width: 0;
    height: 5px;
    background-color: var(--functional);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

pre[class*="language-"], figure > pre {
    font-size: 80%;
    margin: 32px auto;
    background-color: var(--darkest);
    border-radius: 0;
}

figure > pre {
    padding: 24px;
}

.katex-display, .eleventy-plugin-youtube-embed {
    margin: 32px auto;
}

.katex-display {
    text-align: center;
}

.katex-display > .katex {
    display: inline-block;
    text-align: left;
    line-height: 1.5;
}

.katex-inline > .katex {
    font-size: 115%;
}

@media (prefers-color-scheme: light) {
code[class*="language-"], pre[class*="language-"] {
    text-shadow: none;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background-color: var(--darkest);
}
}

.header-anchor {
    margin-left: -0.8em;
}

svg {
    width: 100%;
    stroke: var(--text-color);
    stroke-width: 0.3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

svg text {
    stroke: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 3px;
    letter-spacing: 0.01rem;
    fill: var(--text-color);
}

svg text.small {
    font-size: 2px;
}
