@media (prefers-color-scheme: dark) {
:root {
    --darkest: #151b24;
    --darker: #222831;
    --functional: #3282b8;
    --functional-highlight: #7fcfff;
    --text-color: #ececec;
    --link-color: #ff8000;
    --separator: #2f353e;
    --opaque: #707681;
}
}

@media (prefers-color-scheme: light) {
:root {
    --darkest: #dfdfdf;
    --darker: #ececec;
    --functional: #3282b8;
    --functional-highlight: #00366c;
    --text-color: #222831;
    --link-color: #ff8000;
    --separator: #f4f4f4;
    --opaque: #707681;
}
}

html,
body {
    color: var(--text-color);
    background-color: var(--darker);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.15em;
    letter-spacing: 0.07rem;
    line-height: 1.7;
    scroll-behavior: smooth;
}

header, footer {
    text-align: center;
}

header > *, article > *, footer > * {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
}

article > pre {
    max-width: 100%;
}

article > pre > code {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
}

h1 {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.3;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.3;
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.7rem;
    font-weight: normal;
    line-height: 1.3;
}

p {
    margin-bottom: 1.75rem;
}

a:link {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-color);
}

article a:hover {
    border-bottom: 4px solid var(--link-color);
}

article a:hover > code {
    border-bottom: 4px solid var(--link-color);
    border-radius: 5px 5px 0 0;
    padding-bottom: 0;
}

article a[href^="http"]::after {
    content: "";
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.25em;
    margin-right: 0.1em;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    display: inline-block;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-color: var(--link-color);
}

a.title {
    color: var(--text-color);
}

figure {
    width: 100%;
    display: table;
    margin: 64px auto;
}

figcaption > p {
    font-size: 0.8em;
    text-align: center;
    hyphens: none;
}

blockquote {
    padding: 2px 24px;
    border-left: 8px solid var(--functional);
}

blockquote > p {
    font-style: italic;
    opacity: 0.75;
}

blockquote > p > em {
    font-style: normal;
}

ul, ol {
    padding-left: 2.25rem;
}

li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-left: 0.75rem;
}

p > code, a > code, li > code, span > code {
    background-color: var(--darkest);
    padding: 2px 5px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
}

aside.warning > p > code {
    background-color: var(--darker);
}

hr {
    width: 95%;
    height: 1px;
    background-color: var(--separator);
    border: 0;
    border-bottom: solid 1px var(--darkest);
    margin: 64px auto;
}

hr.separator:last-of-type {
    display: none;
}

img {
    max-width: 100%;
    display: block;
    position: relative;
    margin: auto;
}

::selection {
    background: var(--link-color);
}

::-moz-selection {
    background: var(--link-color);
}

a::selection {
    color: var(--text-color);
}

a::-moz-selection {
    color: var(--text-color);
}

.subtitle {
    font-size: 1rem;
}

footer p {
    font-size: 1rem;
    margin-top: 128px;
}

.metadata {
    color: var(--opaque);
    font-size: 0.8em;
    font-style: italic;
}

.metadata em {
    color: var(--text-color);
    font-style: normal;
}

.metadata > *:not(:last-child)::after {
    content: " • ";
    color: var(--opaque);
}

footer > .links {
    text-align: center;
    margin-bottom: 32px;
}

footer > .links a {
    color: var(--text-color);
    font-size: 1.8rem;
    margin: 4px;
}

aside {
    position: relative;
}

aside.note {
    margin: 0 auto;
    padding: 2px 48px;
    background:
        linear-gradient(to right, var(--functional) 8px, transparent 8px) 0 0,
        linear-gradient(to left, var(--functional) 8px, transparent 8px) 100% 100%,
        linear-gradient(to bottom, var(--functional) 8px, transparent 8px) 0 0,
        linear-gradient(to top, var(--functional) 8px, transparent 8px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 220px 64px;
}

aside.note h3 {
    color: var(--functional);
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.3;
}

aside.warning {
    margin: 16px auto;
    padding: 24px 12px 24px 4.5em;
    background-color: var(--darkest);
}

aside.warning p {
    margin: 0 !important;
}

aside.warning::before {
    content: "\f06a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    width: 1.8em;
    height: 2.5em;
    font-size: 2.5em;
    line-height: 2.5em;
    text-align: center;
}

details.toc > summary {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.3;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

details.toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footnotes-list li::marker {
    content: "[" counter(list-item) "]";
}

.footnote-ref {
    position: relative;
    display: inline-block;
}

.footnote-ref .footnote-content {
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
    width: 280px;
    line-height: 1.3;
    padding: 12px;
    background-color: var(--darkest);
    border: 1px solid var(--functional);
    border-radius: 5px;

    position: absolute;
    z-index: 1;
    top: 5px;
    left: 10px;
}

.footnote-ref:hover .footnote-content {
    visibility: visible;
    opacity: 1;
}

.footnote-ref .footnote-content code {
    background-color: var(--darker);
}

#progress {
    width: 0;
    height: 8px;
    background-color: var(--functional);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

pre[class*="language-"], figure > pre {
    font-size: 80%;
    margin: 32px auto;
    background-color: var(--darkest);
    border-radius: 0;
}

figure > pre {
    padding: 24px;
}

.katex-display, .eleventy-plugin-youtube-embed {
    margin: 32px auto;
}

.katex-display {
    text-align: center;
}

.katex-display > .katex {
    display: inline-block;
    text-align: left;
    line-height: 1.5;
}

.katex-inline > .katex {
    font-size: 1.15em;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background-color: var(--darkest);
}

svg {
    width: 100%;
    stroke: var(--text-color);
    stroke-width: 0.3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

svg text {
    stroke: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 3px;
    letter-spacing: 0.01rem;
    fill: var(--text-color);
}

svg text.small {
    font-size: 2px;
}

@media only screen and (min-width: 850px) {
    p, li {
        hyphens: auto;
    }
}

@media only screen and (max-width: 850px) {
    body {
        padding: 12px;
    }

    blockquote {
        padding: 2px 12px;
    }

    aside.note {
        padding: 2px 24px;
    }

    aside.warning {
        padding: 12px 12px 12px 4.5em;
    }
}

@media (prefers-color-scheme: light) {
    code[class*="language-"], pre[class*="language-"] {
        text-shadow: none;
    }
}
